.linkbox-spacer {
	margin: 0 0 1em 0;
}
.linkbox-teaser {
	color: white;
	flex: 1 0 auto;
}
.linkbox-teaser a, .linkbox-teaser a:hover, .linkbox-teaser a:visited {
	color: white;
}
.linkbox-title {
	padding: 10px 15px;
}
.linkbox-title h2 {
	color: white;
	font-size: 1.25em;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 768px) {
	.linkbox-title h2 {
	  font-size: 0.8em;
	}
}
.linkbox img:hover {
	height: auto;
	-webkit-transition: all 0.2s ease-out;
	opacity: 0.7;
    transition: all 0.2s ease-out;
}
.linkbox {
	hyphens: auto;
}
.linkbox a:hover {
	text-decoration: none;
}