.linkbox {
	hyphens: auto;
    position: relative;
}
.linkbox-spacer {
	margin-bottom: 2em;
}

.linkbox-teaser {
	flex: 1 0 auto;
	padding-top: 15px;
}

.linkbox-title-lk-mod-1 {
    padding: 0.25em 0.5em;
    background: navi_color_bg;
	font-size: 1.25em;
	font-weight: bold;
    margin: 1.5em 0 0 0.25em;
	position: absolute;
	right: 0;
}